.getting-started-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.getting-started-container1 {
  flex: 0 0 auto;
  width: 610px;
  height: 1004px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.getting-started-textinput {
  top: 367px;
  left: 34px;
  width: 447px;
  height: 69px;
  padding: var(--dl-space-space-halfunit);
  position: absolute;
  text-align: center;
  border-width: 5px;
  padding-bottom: 0px;
  list-style-type: disc;
  list-style-image: none;
  list-style-position: outside;
}
.getting-started-add-coment {
  top: 296px;
  left: 89px;
  position: absolute;
  font-size: 50px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 700;
  text-transform: uppercase;
  list-style-type: disc;
  list-style-image: none;
  list-style-position: outside;
}
.getting-started-container2 {
  width: 586px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 1002px;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: #5e2c2c;
  border-style: dashed;
  border-width: 2px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ff5e43;
}
