#reply-div {
	margin: 0 auto;
	padding: 5px;
	text-align: center;
}
#reply-btn-div {
  margin: 0 auto;
  text-align: center;
  width: 70%;
}
.reply-btn {
	color: white;
	border-style: outset;
	border-color: #0FA6A2;
	border-radius: 10px;
	height: 30px;
	width: 100px;
	max-width: 100%;
	margin: 5px;
	font: bold 15px arial,sans-serif;
	text-shadow: none;
}
#no-btn {
  background: red;
}
#yes-btn {
  background: green;
}
#no-btn:hover {
	background: #FFCCCB;
}
#yes-btn:hover {
	background: #90FE90;
}
